.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Icon
Thumbs.db
ehthumbs.db
*.swp
*.swo
*.orig
*~
\#*\#
/tags
/.bundle/
.vim/.undo
crypt_config.vim
.crypt_tmux
tags
.vmailrc
dump.rdb
vimbackupdir/
doc/tags
aws/*
vim/sessions/
vim/plugged/
vim/undodir/
.vim/
